.geral {
    background-color: #f00;
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.visor {
    background-color: white;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: double;
    margin: 15px;
}

.linha {
    background-color: white;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: double;
    border-color: #f00;
}

